header{
    font-family: Helvetica, arial, sans-serif;
    width: 100%;
    top: 0;
    overflow: hidden;
}
body{
    font-family:  Arial, sans-serif;
}
.padding{
    padding: 2rem 0;
}
/*HEADER-TOP*/
.top-header{
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: right;
}
.top-header img{
    width: 20%;
    right: 3%;
    top: 30%;
    
}
/*Bottom-Header*/
.bot-header{
    width: 100%;
    height: 70px;
    background-color: lightgrey;
    text-align: right;
    display: flex;
   position: relative;
}
.bot-header img{
    left: 3%;
    top: 20%;
    
}
/*list*/
.list{
    margin-left: 0;
    width: 70%;
    display: none;
}
.list ul{
    display: flex;
    list-style: none;
}
.list li{
    padding: 1.5rem 1rem;
}
.list a{
    text-decoration: none;
    color: black ;
}
.list i {
    color: gray;
    margin-left: 5px;
}
/*right-list*/
.right-list{
    width: 30%;
    display: none;
}
.btn_black{
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
}
.btn{
    color: white;
    margin-top: -0.5rem;
}
.lens{
    position: relative;
}
.lens img{
    position: absolute ;
    right: 10%;
    top: 1.3rem;
    width: 90%;
    margin-left: 20px;
}
/*Burger*/
.burger{
   width: 40px;
   height: 40px;
   background-color: white;
   position: absolute;
   top: 1rem;
   right: 1rem;
   border-radius: 5px;
}
.burger i{
    padding-right: 0.8rem;
    padding-top: 0.8rem;
}
.burger a {
    color: black;
}
/*Jambotron*/
.jambotron{
    background-image: url("../img/jumbo-bg.png");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative; 
}
.text{
    color: white;
    position: absolute;
    bottom: 5%;
}
.text img{
    width: 60%;
    margin-bottom: 40px;
}
.text h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.text p{
    font-weight: bold;
    margin-bottom: 20px;
}
.btn_orange{
    background-color: orange;
    border: 1px solid orange;
    border-radius: 20px;
    font-weight: bold;
}
.btn_orange:hover{
    color: white;
}
/*card-2-game*/
.game{
    padding: 2rem 0;
    text-align: center;
}
.img-container{
    height: 150px;
    width: 250px;
    margin-bottom: 20px;
}
.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.img-thumbnail{
    border-color: blue;
}
/*No Limits*/
.blue{
    color: blue;
    font-weight: bold;
}
.grey{
    color: gray;
    font-size: 20px;
    margin-top: 20px;
}
/*Console 5*/
.bnt_blue{
    background-color: blue;
    border: 1px solid blue;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
.bnt_blue:hover{
   color: white;
}
.playcontainer img{
    width: 100%;
}
/*Play Accessories*/
.card-bottom img{
    width: 100%;
}
.card-bottom{
    border-bottom: 1px solid green;
}
.card-bottom h3{
    display: none;
}
.opacity img{
    width: 100%;
    opacity: 0.7;
}
.opacity h3{
    color: lightgrey;
    display: none;
}
/*Takes Two*/
.takestwo{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative; 
}
.texttwo{
    padding-top: 80px;
}
.texttwo img{
    width: 50%;
}
.texttwo h1{
    color: white;
    font-weight: bold;
    margin-top: 50px;
    font-size: 40px;
}
.texttwo p{
    color: white;
    font-weight: bold;
}
/*New Entry*/
.entry{
    background-color: black;
    padding-top: 2rem;
}
.entry h1{
    color:white;
    font-weight: bold;
    margin-bottom: 20px;
    display: none;
}
.entry h3{
    color: white;
    font-size: 27px;
    margin-bottom: 20px;
    display: none;
}
.entry .img-container{
    height: 250px;
}
.entry h4{
    color: white;
    font-size: 17px;
}
/*Playfour*/
.playfour span {
    font-size: 15px;
    height: 50px;
    vertical-align: text-top;
}
.playfour h1{
    padding-top: 2rem;
    text-align: center;
    font-weight: bold;
}
.playfour p{
    color: lightgray;
    text-align: center;
    font-size: 25px;
}
.card{
    border: none;
    padding-top: 2rem;
}
.card p{
    text-align: left;
}
.card .bnt_blue{
    width: 30%;
}
.card h2{
    font-weight: bold;
}
.p-two{
    padding-top: 0;
    font-size: 10px;
}
/*Playstation Plus*/
.grayplus{
    background-color: grey;
    
}
.playplus{
    padding-bottom: 1rem;
}
.playplus img{
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.playplus p{
    font-weight: bold;
    padding-bottom: 2rem;
}
.bnt_gray{
    background-color: white;
    color: blue;
    border: 1px solid white;
    border-radius: 20px;
    width: 40%;
}
.plus{
    display: none;
}
.plus{
    width: 100%;
    height: 100%;
}
/*Sconti*/
.sconti{
    text-align: center;
    padding: 2rem 0;
}
/*Now*/
.now{
    background-color: blue;
}
.now p{
    color: white;
}
.now .bnt_gray{
    color: black;
}

/*sm*/
@media screen and (min-width:576px) {
   .top-header img{
       width: 10%;
       right: 2%;
   }
   .bot-header img{
       left: 2%;
   }
   .list{
       display: none;
   }
   .img-container{
    height: 100px;
    width: 150px;
    margin-bottom: 20px;
    }
    .entry .img-container{
        height: 200px;
    }
    .entry h1{
        display: block;
    }
    .entry h3{
        display: block;
        font-size: 25px;
    }
}
/*md*/
@media screen and (min-width: 768px) {
    .top-header img{
        width: 10%;
        right: 2%;
    }
    .bot-header img{
        left: 1%;
    }
    .list{
        display: none;
    }
    .img-container{
        height: 130px;
        width: 220px;
        margin-bottom: 20px;
    }
    .card-playstation{
        vertical-align: middle;
        padding-top: 3rem;
    }
    .card-bottom h3{
        display: block;
        font-size: 15px;
    }
    .opacity h3{
        color: lightgrey;
        display: block;
        font-size: 15px;
    }
   .column{
       background-color: red;
       margin-right: 2rem;
   }
   .playfour p{
       font-size: 32px;
   }
   .card .bnt_blue{
        width: 60%;
   }
   .card h2{
        font-weight: bold;
        font-size: 35px;
   }
   .playfour .card p{
       font-size: 20px;
   }
   .playplus img{
       width: 60%;
       padding-top: 1rem;
   }
   .plus{
       display: block;
   }
   .plus img{
     width: 100%;
     height: 100%;
   }
   .bnt_gray{
       width: 70%;
   }
  
}
/*xxl*/
@media screen and (min-width: 1200px) {
    .top-header img{
        width: 5%;
        right: 1%;
    }
    .bot-header img{
        left: 1%;
    }
    .list{
        display: block;
    }
    .burger{
        display: none;
    }
    .text{
        text-align:left;
        width: 30%;
    }
    .img-container{
        height: 100px;
        width: 160px;
    }
    .card-playstation{
        vertical-align: middle;
        padding-top: 200px;
    }
    .texttwo{
        width: 40%;
    }
    .texttwo img{
        width: 50%;
    }
    .entry{
        padding-bottom: 2rem;
    }
    .entry .img-container{
        height: 150px;
        width: 150px;
    }
    .playfour p{
        font-size: 20px;
    }
    .card .card p{
        font-size: 20px;
    }
    .playplus img{
        padding-top: 8rem;
    }
    .bnt_gray{
        width: 50%;
    }
}